@charset "UTF-8";


.left {
    float: left;
    height: 100%;
    margin-left: 0px;
}

.right {
    float: right;
    height: 100%;
    marigin-right: 0px;
}

.slider_vertical {
    width: 100%;
    height: 3px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    cursor: n-resize;
    float: left;
}